@import "../../scss/variable.scss";
@import "../../scss/mixin.scss";
#headere-navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;

  a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    &:hover {
      color: $auth_color;
    }
  }
  .img-brand {
    width: 50px;
    height: 50px;
  }
  .active {
    color: $auth_color !important;
  }
  .drop-item {
    &:active {
      background-color: #ccc;
    }
  }
}
#headere-navbar #navbar-brand {
  background-color: #fff !important;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.navbar-toggler {
  &:focus {
    box-shadow: none;
  }
}
.navbar-brand {
  width: 40%;
}
.item {
  display: flex;
  a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    &:hover {
      color: $auth_color;
    }
  }
}

@include respond(desktop) {
  .item {
    display: block;
  }
}
