#ticket {
  padding: 150px 0;
  display: flex;
  background-color: #f1f1f1;
  justify-content: center;
  .all-chair {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    gap: 10px;
  }
  .order-left {
    width: 50%;
  }
  .order-right {
  }
  .screen {
    margin-bottom: 70px;
    position: relative;

    .movie-bg {
      width: 100%; /* Chiều rộng của hình thang */
      height: 0; /* Đặt chiều cao thành 0 để tạo hình thang */
      border-left: 50px solid transparent; /* Điểm mặt của hình thang */
      border-right: 50px solid transparent; /* Điểm mặt của hình thang */
      border-top: 30px solid rgba($color: #d9be96, $alpha: 0.5); /* Điểm mặt dưới của hình thang và màu nền */
      transform: rotate(180deg);
      //   background: rgb(88, 88, 91);
      //   background: linear-gradient(
      //     180deg,
      //     rgba(88, 88, 91, 0.5394608527004552) 0%,
      //     rgba(177, 128, 44, 0.7663516090029762) 0%,
      //     rgba(166, 166, 166, 0.7943628134847689) 66%
      //   );
    }
    .movie-title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
#chair {
  background-image: url(https://www.betacinemas.vn/Assets/global/img/booking/seat-unselect-normal.png);
  width: 40px;
  /* float: left; */
  height: 40px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  font-size: 11px;
  background-color: transparent !important;
  background-repeat: no-repeat;
  background-size: 35px 35px;
  background-position: center;
  color: #fff;
  font-family: SFProText;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  border: none;
}
.buy {
  background-image: url(https://www.betacinemas.vn/Assets/global/img/booking/seat-select-normal.png) !important;
  color: white;
}
.sold-out {
  background-image: url();
}

#chair-vip {
  background-image: url(https://www.betacinemas.vn/Assets/global/img/booking/seat-unselect-vip.png);
  width: 40px;
  /* float: left; */
  height: 40px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  font-size: 11px;
  background-color: transparent !important;
  background-repeat: no-repeat;
  background-size: 35px 35px;
  background-position: center;
  color: #fff;
  font-family: SFProText;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  border: none;
}
.buy-vip {
  background-image: url(https://www.betacinemas.vn/Assets/global/img/booking/seat-select-vip.png) !important;
  color: white;
}
.sold-out-vip {
  background-image: url(https://www.betacinemas.vn/Assets/global/img/booking/seat-buy-vip.png) !important;
}
.loaiGhe {
  padding: 10px;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  img {
    width: 40px;
    height: 40px;
  }
  .loaiGhe-container {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 30px;
    border-right: 1px solid #ccc;
    padding-right: 30px;
    .thuong,
    .vip {
      display: flex;
      gap: 10px;
      p {
        width: 50px;
      }
    }
  }
  .canBuy-container {
    display: flex;
    gap: 10px;
    align-items: start;
    .canBuy,
    .isSelect,
    .isSold {
      display: flex;
      gap: 5px;
    }
  }
}
.ticket-order {
  display: flex;
  gap: 50px;
  justify-content: center;
}
.order-right {
  background-color: #fff;
  width: 25%;
  padding: 10px;
  border-radius: 10px;
}
.detail-header {
  display: flex;
  align-items: center;
  gap: 10px;
  h3 {
    color: #03599d;
    font-weight: 700;
  }
}
.detail-body1 {
  padding-top: 20px;
  width: 80%;
  margin: auto;
  p {
    margin-bottom: 0;
  }
  .theloai {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .theloai-left-item {
      font-weight: 300;
      font-size: 14px;
    }
    .theloai-right {
      font-weight: 700;
    }
  }
}
.detail-body2 {
  @extend .detail-body1;
  p {
    margin-bottom: 0;
  }
  .thoiLuong {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .thoiLuong-left-item {
      font-weight: 300;
      font-size: 14px;
    }
    .thoiLuong-right {
      font-weight: 700;
    }
  }
}
.detail-body3 {
  @extend .detail-body1;
  padding-top: 5px;
  p {
    margin-bottom: 0;
  }
  .rapChieu {
    display: flex;
    justify-content: space-between;
    align-items: end;
    .rapChieu-left-item {
      font-weight: 300;
      font-size: 14px;
    }
    .rapChieu-right {
      font-weight: 700;
    }
  }
}
.detail-body4 {
  @extend .detail-body1;
  padding-top: 15px;
  p {
    margin-bottom: 0;
  }
  .ngayChieu {
    display: flex;
    justify-content: space-between;
    align-items: end;
    .ngayChieu-left-item {
      font-weight: 300;
      font-size: 14px;
    }
    .ngayChieu-right {
      font-weight: 700;
    }
  }
}
.detail-body5 {
  @extend .detail-body1;
  padding-top: 15px;
  p {
    margin-bottom: 0;
  }
  .gioChieu {
    display: flex;
    justify-content: space-between;
    align-items: end;
    .gioChieu-left-item {
      font-weight: 300;
      font-size: 14px;
    }
    .gioChieu-right {
      font-weight: 700;
    }
  }
}
.detail-body6 {
  @extend .detail-body1;
  padding-top: 15px;
  p {
    margin-bottom: 0;
  }
  .phongChieu {
    display: flex;
    justify-content: space-between;
    align-items: end;
    .phongChieu-left-item {
      font-weight: 300;
      font-size: 14px;
    }
    .phongChieu-right {
      font-weight: 700;
    }
  }
}
.detail-body7 {
  @extend .detail-body1;
  padding-top: 15px;
  p {
    margin-bottom: 0;
  }
  .diaChi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .diaChi-left-item {
      font-weight: 300;
      font-size: 14px;
    }
    .diaChi-right {
      font-weight: 700;
    }
  }
}
.detail-body8 {
  @extend .detail-body1;
  padding-top: 15px;
  p {
    margin-bottom: 0;
  }
  .gheNgoi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .gheNgoi-left-item {
      font-weight: 300;
      font-size: 14px;
    }
    .gheNgoi-right {
      font-weight: 700;
      .gheNgoi-right-item {
        display: flex;
        column-gap: 10px;
        flex-wrap: wrap;
      }
    }
  }
}
.button-buy {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  button {
    background-image: linear-gradient(
      to right,
      #0a64a7 0%,
      #258dcf 51%,
      #3db1f3 100%
    ) !important;
    color: #fff;
  }
}

hr {
  border-top: 2px #0b0a0a double !important;
}
