@import "../../../scss/mixin.scss";
@import "../../../scss/variable.scss";

#select-fast {
  position: absolute;
  top: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  .select-body {
    background-color: #fff;
    padding: 30px 20px;
    border-radius: 10px;
    display: flex;
    width: 70%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    select {
      width: 300px;
      border: none;
      padding: 10px 5px;
      outline: none;
      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        background-color: purple;
      }
    }
    button {
      background-color: $auth_color;
      margin-left: 10px;
      padding: 0;
      width: 150px;
      &:hover {
        background-color: $auth_hover;
      }
    }
  }
}

@include respond(phone) {
  #select-fast {
    display: none;
  }
}
